/* ==UserStyle==
@name           Empty @name replaces the default template - 6/25/2021, 6:51:54 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("eadcampus.spo.ifsp.edu.br") {
body {
	background-color: #202020;
	color: white;
  }
  
  .block {
	  background-color: #2C2F33;
	  color: white;
  }

  .block_simple_clock .clock{
      color: white;
  }

  .block .minicalendar td.weekend {
      color:  #99AAB5;
  }

  .block .header h2 {
	  color: #f9f9f9;
  }
  .breadcrumb {
	  background-color: #202020;
	  color: white;
  }

  .breadcrumb>li.breadcrumb-item,.breadcrumb>li.breadcrumb-item>a {
      background-color: #4b4b4b!important;
      color: #b5b5b5!important;
      border-color:#3e3e3e00;
  }
	
  .breadcrumb>li.breadcrumb-item{
      border-color:#3e3e3e;
  }

  .breadcrumb>li.breadcrumb-item::after {
      border-left-color: #4b4b4b;
      border-top: 14px solid rgba(0, 0, 0, 0);
      border-bottom: 14px solid rgba(0, 0, 0, 0);
  }
  
  
  #pageheader-middle-left img { -webkit-filter: grayscale(100%); 
  }
  
  .course-content .current {
	  background-color:  #252729!important;
  }
  
  a:link, a:hover, a:visited, a:active, span.flagged-tag a {
	  color: #dedede;
  }
  
  .path-grade-report-user .user-grade.generaltable .levelodd {
	  background-color: #f9f9f900;
  }

  .path-mod-assign td.submissionnotgraded, .path-mod-assign div.submissionnotgraded {
	  color: #f9f9f9;
	  background-color: #2c2f33;
  }
  
  .path-mod-assign td.submissionstatussubmitted, .path-mod-assign div.submissionstatussubmitted, .path-mod-assign a:link.submissionstatussubmitted {
	  color: #f9f9f9;
  }
  
  #pageheader-middle-right {
	  min-height: 68px;
	  background-color: #4b5b94;
  }
  
  #pageheader-middle-left {
	  background-color: #7289DA;
	  
  }
  
  .calendar_event_course {
	  background-color: #2C2f4f;
  }

  .btn.btn-secondary, .btn.btn-secondary.btn-lg, .btn.btn-secondary.btn-block.mt-3, #loginbtn, .btn.btn-secondary.btn-block, .bg-gray, .list-group-item, .dropdown-menu, .custom-select, .btn.btn-primary {
      background-color: #202020!important;
      border-color: #4a4545!important;
      color: #bcbcbc!important;
  }

  .btn.btn-secondary,.btn.btn-secondary.btn-lg,.btn.btn-secondary.btn-block.mt-3,#loginbtn,.btn.btn-secondary.btn-block,.bg-gray,.list-group-item,.dropdown-menu,.custom-select,.btn.btn-primary,.a.bg-gray:hover, button.bg-gray:hover, a.bg-gray:focus, button.bg-gray:focus,.form-control,.simplesearchform .btn-submit {
      background-color: #202020!important;
      border-color: #4a4545!important;
      color: #d3d1d1!important;
  }

  .btn-secondary:focus, .btn-secondary.focus {
      outline: .2rem solid rgba(0, 0, 0, .05);
      box-shadow: 0 -0.2rem #4c5258, 0 0.2rem #343a40;
  }
  
  #dock .dockedtitle {
	  color: white;
	  border:0px solid #ccc;
	  text-shadow: 0 1px 1px rgba(255,255,255,0);
	  background-image: none;
	  background-color: #36373f
  }
  
  #dockeditempanel .dockeditempanel_content {
	  background-color:#494f53;
	  box-shadow: none;
  }
  
  #dockeditempanel .dockeditempanel_hd h2 {
	  color: white;
  }
	  
  table#explaincaps tbody>tr:nth-child(odd)>td, table#defineroletable tbody>tr:nth-child(odd)>td, table.grading-report tbody>tr:nth-child(odd)>td, table#listdirectories tbody>tr:nth-child(odd)>td, table.rolecaps tbody>tr:nth-child(odd)>td, table.userenrolment tbody>tr:nth-child(odd)>td, table#form tbody>tr:nth-child(odd)>td, form#movecourses table tbody>tr:nth-child(odd)>td, #page-admin-course-index .editcourse tbody>tr:nth-child(odd)>td, .forumheaderlist tbody>tr:nth-child(odd)>td, table.flexible tbody>tr:nth-child(odd)>td, .generaltable tbody>tr:nth-child(odd)>td, table#explaincaps tbody>tr:nth-child(odd)>th, table#defineroletable tbody>tr:nth-child(odd)>th, table.grading-report tbody>tr:nth-child(odd)>th, table#listdirectories tbody>tr:nth-child(odd)>th, table.rolecaps tbody>tr:nth-child(odd)>th, table.userenrolment tbody>tr:nth-child(odd)>th, table#form tbody>tr:nth-child(odd)>th, form#movecourses table tbody>tr:nth-child(odd)>th, #page-admin-course-index .editcourse tbody>tr:nth-child(odd)>th, .forumheaderlist tbody>tr:nth-child(odd)>th, table.flexible tbody>tr:nth-child(odd)>th, .generaltable tbody>tr:nth-child(odd)>th {
	  background-color: #23272D;
  }
	
  #region-main-box,.row.justify-content-center,.text-center {
      background-color: #181818;
  }
	
  .col-12.pt-3.pb-3,.col-md-5 {
      background-color: #181818;
  }
	
  .card-body,#region-main {
      background-color: #202020;
  }

  .card,.card-body.pr-1.course-info-container {
      background-color: #252729!important;
      color: #a5a5a5!important;
  }
	
  .bg-white,.dashboard-card {
      background-color: #252729!important;
  }
	
  .cell.c1.lastcol,.cell.c0,.row,.popover-region-container,.popover-region-footer-container,.hidden,.popover-header,.popover-body,.arrow::after {
      background-color: #404344;
      border-color: #fff0;
      color: #c4c4c4;
  }
	
  .usertext.mr-1,.summary{
      color: #c4c4c4;
  }
	
  .navbar-light .navbar-nav .nav-link,.navbar-light .navbar-brand {
      transition: 0.4s;
      color: #c4c4c4;
  }
    
  .d-sm-inline-block,.multiline,.small,.categoryname.text-truncate,#yui_3_17_2_1_1624709115240_30{ /*Deixando a fonte dos cartões de curso mais clara - Caio*/
      color: #cbcbcb;
  }   
	
  .row.justify-content-md-center, .filemanager, .yui3-datatable-header, .fp-content, .fp-tableview, .border-bottom, .d-flex.flex-column.h-100 {
      background-color: #202020!important;
      color: #a5a5a6!important;
  }
	
  .format-onetopic .onetopic .nav-tabs>li>a{
      border-color:#4b4b4b;
      background-color: #2b2b2b;
  }
	
  .format-onetopic .onetopic .nav-tabs>.nav-item>a.nav-link.active{
      border-color:#797979;
      background-color: #161616;
  }
	
  #page-footer,.navbar,#nav-drawer{
      background-color: #292929!important;
      color: #bdbdbd!important;
      background-image: radial-gradient(ellipse at center,#17882c00 1%,#00510f00 100%);
      border-top: #515151;
      border-bottom: #515151;
  }
	
  .generaltable.generalbox.quizreviewsummary,.cell,.generaltable {
      background-color: #515050!important;
      color: #cdcccc;
  }
	
  .que .formulation{
      background-color: #383838;
      color: #cdcccc;
  }
	
  .que.essay .qtype_essay_response.readonly{
      background-color: #606060;
      border: 3px #6a6a6a;
      color: #fff;        
  }
	
  .que .info,.outcome.clearfix {
      background-color: #343434;
      border: 3px #6a6a6a;
      color: #cdcccc;  
  }
	
  .calendar_event_course{
      color: #fff;
      background: #000
  }
	
  .aalink.focus, #page-footer a:not([class]).focus, .arrow_link.focus, a:not([class]).focus, .activityinstance>a.focus, .aalink:focus, #page-footer a:not([class]):focus, .arrow_link:focus, a:not([class]):focus, .activityinstance>a:focus{
      background-color: #343434;
      border: 3px #6a6a6a;
      color: #cdcccc;
      outline: .2rem solid rgba(0, 0, 0, .05);
      box-shadow: 0 -0.2rem #4c5258, 0 0.2rem #343a40;
  }
	
  .cell.c1.lastcol, .cell.c0, .row, .popover-region-container, .popover-region-footer-container, .hidden, .popover-header, .popover-body, .arrow::after {
      background-color: #181818!important;
      border-color: #fff0;
      color: #c4c4c4;
  }
	
  .content-item-container.unread {
      background-color: #202020;
  }
	
  .btn-outline-secondary:hover {
      color: #fff;
      background-color: #393c3e;
      border-color: #6c757d;
  }
	
  .list-group-item-action:hover, .list-group-item-action:focus {
      color: #dadada;
      background-color: #202020;
  }
	
  .block .block-cards .btn.btn-link.btn-icon:hover, .block .block-cards .btn.btn-link.btn-icon:focus {
      background-color: #202020;
  } 
	
  .page-item.disabled .page-link {
      color: #6c757d;
      pointer-events: none;
      cursor: auto;
      background-color: #1f1f1f;
      border-color: #383838;
  }
	
  .page-link {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #0f6fc5;
      background-color: #1f1f1f;
      border: 1px solid #383838;
  }
	
  .page-link:hover {
      z-index: 2;
      color: #c1c1c1;
      text-decoration: none;
      background-color: #1d1d1d;
      border-color: #636363;
  }
	
  .alert-info {
      color: #51659e;
      background-color: #191919;
      border-color: #b8dce2;
  }

  .alert-dark {
      color: #51659e;
      background-color: #191919;
      border-color: #c6c8ca;
  }

  .alert-danger {
      color: #c5c5c5;
      background-color: #292929;
      border-color: #f0c5c1;
  }
	
  .format-onetopic .onetopic .nav-tabs>.nav-item>a:hover {
      background-color: #1d1d1d;
  }
	
  .generaltable.generalbox.quizreviewsummary, .cell, .generaltable {
      background-color: #131313!important;
      color: #cdcccc;
  }
    
  .modal-content {
      background-color: #1d1d1d;
      border: 1px solid rgba(0,0,0,.2);
  }

  .message-app .message.received .tail{ /*Alterando a cor da "caudinha" da mensagem recebida  - Caio*/
      border-bottom-color: #131313!important;
  }
    
  .table {
      color: #b2b2b2;
  }

  .preferences-container .preference-table tr td:nth-child(even) {
      background-color: #1b1b1b;
  }

  .preferences-container .preference-table tr th:nth-child(even) {
      background-color: #1b1b1b;
  }

  .table-hover tbody tr:hover {
      color: #cacaca;
      background-color: rgba(0,0,0,.075);
  }

  .close {
      color: #fff;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
  }

  .moodle-dialogue-base .moodle-dialogue-wrap {
      background-color: #212121;
      border: 1px solid #191919;
  }

  .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd {
      border-bottom: 1px solid #151515;
  }

  .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h1 {
      color: white;
  }

  .filemanager .yui3-datatable-header {
      background: #202020!important;
      border-bottom: 1px solid #ccc!important;
      border-left: 0 solid #fff!important;
      color: #d3d1d1!important;
  }

  .filemanager .yui3-datatable-even .yui3-datatable-cell {
      background-color: #151515!important;
      border-left: 0 solid #fff;
  }

  .yui3-skin-sam .yui3-datatable-header {
      background: #fff url(/theme/yui_image.php?file=3.17.2/sprite.png) repeat-x 0 0;
      background-image: -webkit-linear-gradient(transparent 40%,rgba(0,0,0,0.21));
      background-image: -moz-linear-gradient(top,transparent 40%,rgba(0,0,0,0.21));
      background-image: -ms-linear-gradient(transparent 40%,rgba(0,0,0,0.21));
      background-image: -o-linear-gradient(transparent 40%,rgba(0,0,0,0.21));
      background-image: linear-gradient(transparent 40%,rgba(0,0,0,0.21));
      color: #000;
      text-shadow: 0 1px 1px #202020;
  }

  .border {
      border: 1px solid #464646!important;
  }

  .bg-light,.message-app .body-container { /*Alterando a cor do fundo do app de mensagen - Caios*/
      background-color: #202020!important;
  }
  .message-app .message.received{ /*Alterando a cor de fundo e cor de texto das mensagens recebidas - Caio*/
      background-color: #131313!important;
      color: #cdcccc;
  }
  .message-app .message.send{ /*Alterando a cor de fundo e cor de texto das mensagens enviadas - Caio*/
      background-color: #494848!important;
      color: #cdcccc;
  }
  .message-app .message.send .tail{ /*Alterando a cor da "caudinha" das mensagens enviadas - Caio*/
      border-bottom-color: #494848!important;
  }
  .message-app .message.received .time,.message-app .message.send .time { /*Alterando a cor de texto do horário de envio da mensagem - Caio*/
      color: #f5f5f5
  }
  .specificfeedback { /*Alterando a cor de feedback específico na revisão de uma atividade - Caio*/
      background-color: #171717!important;  
  }
  .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd{ /*Mudando a cor da fonte da mensagem de erro - Caio*/
      color: #f5f5f5;
      background-color: #171717;
      background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(38, 71, 160, 0)), color-stop(0.07, rgba(38, 71, 160, 0)), color-stop(0.5, rgba(61, 103, 206, 0)), to(rgba(66, 111, 217, 0)));;
  }

/* Esses h5 e h6 eu n tenho certeza, mas pode ter mudado todos os textos com parametro h5 e h6 do dominio ;-; | no caso eu estava visando mudar somente a tela de login */

  h5, .h5 {
      color: #d3d1d1!important;
  }

  h6, .h6 {
      color: #d4d3d3!important;
  }
  
  span[data-flexitour="container"][x-placement="bottom"] div[data-role="arrow"]:after, span[data-flexitour="container"][x-placement="bottom-start"] div[data-role="arrow"]:after { /* Alterando a seta virada para cima do bloco do tour do usuario - Gustavo */
      border-bottom-color: #1d1d1d;
  }

  span[data-flexitour="container"][x-placement="top"] div[data-role="arrow"]:after, span[data-flexitour="container"][x-placement="top-start"] div[data-role="arrow"]:after { /* Alterando a seta virada para baixo do bloco do tour do usuario - Gustavo */
      border-top-color: #1d1d1d;
  }

   body div[data-flexitour="step-background-fader"], body div[data-flexitour="step-background"] { /* Alterando a cor dos blocos destacados no tour do usuário - Gustavo */
      background-color: #1f1f1f!important;
  }

  .btn-light { /* Alterando a cor do botão de "ir para o topo da página" - Gustavo */
      color: #212529;
      background-color: #101010;
      border-color: #202020;
  }

  .btn:hover { /* Alterando a cor do hover do botão de mensagem no perfil do usuário" - Gustavo */
      color: #a5a5a5;
      text-decoration: none;
  }

  .TabbedPanelsContent { /* Alterando a cor de uma tabela presente no tópico "Aprenda Moodle" na aba "Professores" - Gustavo */
      background-color: #202020;
  }

  .block .block-cards .course-summaryitem { /* Alterando a cor do tipo de visualização "summary" nos blocos dos cursos - Gustavo */
      border: 1px solid #171717;
      background-color: #252729;
  }

  .filepicker-filelist.dndupload-over .dndupload-target, .filemanager-container.dndupload-over .dndupload-target { /* Alterando a cor do bloco de envio de atividades quando é arrastado do computador "Drag and Drop" - Gustavo */
      background: #181818;
  }

  .filepicker-filelist .dndupload-target, .filemanager-container .dndupload-target { /* Alterando a cor do bloco de envio de atividades quando é arrastado do computador "Drag and Drop" - Gustavo */
      background: #181818;
  }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus,.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus { /*Corrigindo a cor do hover do header e adicionando efeito de transição -Caio*/
      transition: 0.4s;
      color: #fff
  }
  .generaltable tbody tr:hover{ /*Corrigindo um bug que causava o texto a sumir quando passasse o mouse em cima de uma tabela, exe: tabela de avaliação bimestral de biologia, BPS-213 - Caio*/
      color: #fff
  }
  .local-fullscreen,.local-fullscreen.float{ /*Alterando a cor do botão de fullscreen - Caio*/
      background-color: #252729;
  }
  .local-fullscreen:hover{ /*Alterando a cor do hover do botão de fullscreen - Caio*/
      background-color: #000;
  }
  .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd{ /*Alterando a cor da fonte da tela de visualizar PDF, e provavelmente de outras telas de erro do moodle também - Caio*/
      color: #fff;
  }
    .custom-select:focus,.aabtn.focus, .btn-link.focus, .nav-link.focus, .atto_link_button.focus, [role="button"].focus, .list-group-item-action.focus, input[type="checkbox"].focus, input[type="radio"].focus, input[type="file"].focus, input[type="image"].focus, .sr-only-focusable.focus, a.dropdown-toggle.focus, .modal-dialog[tabindex="0"].focus, .moodle-dialogue-base .closebutton.focus, button.close.focus, .form-autocomplete-selection.focus, .aabtn:focus, .btn-link:focus, .nav-link:focus, .atto_link_button:focus, [role="button"]:focus, .list-group-item-action:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, input[type="file"]:focus, input[type="image"]:focus, .sr-only-focusable:focus, a.dropdown-toggle:focus, .modal-dialog[tabindex="0"]:focus, .moodle-dialogue-base .closebutton:focus, button.close:focus, .form-autocomplete-selection:focus,.btn-secondary:focus, .btn-secondary.focus { 
        outline: 0;
        border-color: #181818;
        box-shadow: 0 0 0 0.2rem #a5a5a5b3;
  } /*Contém todos os :focus do código, padronizando - Caio*/
}