/* ==UserStyle==
@name           eadcampus.spo.ifsp.edu.br - 7/9/2021, 2:31:01 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("eadcampus.spo.ifsp.edu.br") {
    body{
        color: #B1A7A6;
    }
    /*Elementos globais - CUIDADO!! Alterar esses irá alterar todos os outros!*/
    a {
        color: #E5383B
    }
    a:hover{
        transition: 0.2s;
        color: #B1A7A6
    }
    .border {
        border-color: #660708!important; 
    }
    
    /*Elementos de fundo*/
    #region-main-box,.row { /*Cor de fundo, entre as secções do site - Caio*/
        background-color: #0b090a;
    }
    .card { /*Cor das secções dos site - Caio*/
        background-color: #161A1D;
    }
    
    .navbar { /*Cor do header - Caio*/
        background-image: radial-gradient(ellipse at center,#17882c00 1%,#00510f00 100%);
        background-color: #161A1D!important;
    }
    
    /*Itens da página principal*/
    .categoryname.text-truncate{ /*Cor de subtitulo do cartão - Caio*/
        color: #B1A7A6!important;
    }
    .card.dashboard-card,.bg-white { /*Cor dos cartões de curso - Caio*/
        color: #D3D3D3; 
        background-color: #0B090A!important;
    }
    .list-group-item { /*Cor de fundo de elementos de uma lista - Caio*/
        background-color: #0B090A!important;
    }
    .progress-bar {
        color: #B1A7A6;
        background-color: #BA181B;
    }
    /*Botões*/
    
    .btn.btn-secondary{ /* Cor de botões classificados como segundários - Caio*/
        background-color: #660708!important;
        color: #B1A7A6;
        border-color: #0B090A;
    }
    .btn:hover{ /*Setting default de hover de todos os botões - Caio*/
        background-color: #BA181B!important; 
        color: #FFFFFF;
        border-color: #0B090A;
    }
    .block .block-cards .btn.btn-link.btn-icon:hover,.block .block-cards .btn.btn-link.btn-icon:hover, .block .block-cards .btn.btn-link.btn-icon:focus{ /*Cor do botão de menu dos cartões de curso - Caio*/
        background-color: #161A1D!important;
    }
    .navbar-light .navbar-nav .nav-link,.navbar-light .navbar-brand,.navbar.navbar-light .simplesearchform .btn-open, .usertext.mr-1,.usermenu>.action-menu .menubar>.action-menu-trigger>.dropdown .dropdown-toggle::after { /*Cor de botões do header - Caio*/
        transition: 0.4s;
        color: #B1A7A6;
    }
    .navbar.navbar-light .simplesearchform .btn-open:hover{ /*Cor do botão de pesquisa no modo hover - Caio*/
        color:#BA181B;
        background-color: #0B090A!important;
    }
    .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus,.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus { /*Cor de botões do header em modo hover - Caio*/
        transition: 0.4s;
        color: #E5383B
    }
    .btn-outline-secondary{ /*Cor de botões dropdown - Caio*/
        color: #B1A7A6;
        border-color: #660708;
    }
    .bg-gray{
        color: #B1A7A6;
        background-color: #161A1D!important;
        border-color: #0B090A;
    }
    a.bg-gray:hover, button.bg-gray:hover, a.bg-gray:focus, button.bg-gray:focus{
        transition: 0.4s;
        background-color: #BA181B!important;
        color: #0B090A;
    }
}